numpy==1.17.5
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow-gpu==1.13.2
keras==2.2.4
opencv-python
h5py
imgaug
IPython[all]
# pycocotools install
git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI